// Navigation code here
.site-header{
    .flex(column, @align: center);
    background-color: @nav-bg;
    border: @nav-border;

    h1{
        font-size: 4rem;
        margin: 20px 0;
    }

    .site-navigation{
        .flex(row, space-evenly);
        font-size: 2rem;
        margin: 0 0 20px 0;
        width: 70%;

        a{
            color: @header-font-color;
            text-decoration: none;
        }
    }
}